<nav class="d-flex justify-content-between align-items-center w-100 px-3">
    <h1>Testem</h1>
    <div>
        <a href="/">Dashboard</a>
        <a href="/groups">Groups</a>
        <a href="">Tests</a>
        <a class="btn btn-danger" href="/users/logout">Logout</a>
    </div>
</nav>