@model Group
<div class="join-group">
    <header>
        @await Html.PartialAsync("_NavbarLogin")
    </header>
    <div class="main-content">
        <form action="/groups/join" method="post">
            <h2>Join Group</h2>
            <span asp-validation-for="UniqueCode"></span>
            <label asp-for="UniqueCode"></label>
            <input asp-for="UniqueCode">
            <button class="btn btn-primary">Join</button>
        </form>
    </div>
</div>