@model Group

<div>
    <div class="main-content">
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <h2>@Model.Name</h2>
            <p>Code: <strong>@Model.UniqueCode</strong></p>
        </div>
        <div class="options">
            <div>
                <h3>Members</h3>
                <a href="" class="btn btn-secondary">Add Member</a>
            </div>
            @await Html.PartialAsync("_MemberDisplay", Model.AllMembers)
        </div>



        <hr>


        <div class="options">
            <h3>Tests</h3>
            <a href="/tests/new" class="btn btn-success mx-1">New Test</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    @* <th>Category</th> *@
                    <th>Questions</th>
                    <th>Completed</th>
                    <th>Open</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Air Seperator</td>
                    @* <td>Mechanical</td> *@
                    <td>10</td>
                    <td>20</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Chiller</td>
                    @* <td>Plumbing</td> *@
                    <td>4</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>