<div>
    <header>
        <h1>Testem</h1>
        <div>
            <a href="/">Dashboard</a>
            <a href="">Groups</a>
            <a href="">Tests</a>
            <a href="/users/logout">Logout</a>
        </div>
    </header>
    <div class="main-content">
        
    </div>
</div>