@model Test
<div class="new-test">
    <header>
        <h1>Testem</h1>
        <div>
            <a href="/">Dashboard</a>
            <a href="">Groups</a>
            <a href="">Tests</a>
            <a href="/users/logout">Logout</a>
        </div>
    </header>
    <div class="main-content">
        <form action="/tests/@ViewBag.groupId/create" method="post">
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <button class="btn btn-info">Create Test</button>
        </form>
    </div>
</div>